<div class="row" style="background-image:url('img/donors.jpg'); background-repeat:no-repeat no-repeat; background-size:100% 100%; padding:0px;">
	<div class="col" style="background-color:rgba(255, 0, 0, 0.6); padding:0px;">
		<img src="img/Logo.png" width="100" style="display:block; margin-top:60px; margin-left:auto; margin-right:auto;">
		<div class="row">
		<div class="col text-center">
			<h5 style="color:#FFF; line-height:25px;">A Community driven blood <br> volunteering network</h5>
		</div>
	</div>
			<div class="row">
			<div class="col text-center">
				<a class="button button-outline button-light" href="#/app/request">
  					I need blood
				</a>
				<br><br>
				<button class="button button-outline button-light">
  					I want to Volunteer
				</button>
				<h5 style="color:#fff;"><b>Already a Member ?</b> <a  style="cursor:pointer;" ng-click="login()">Sign In</a></h5>
			</div>
		</div>



	</div>
</div>
