<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
  		<div class="row" style="background-color:#f44336;">
  			<div class="col" style="padding-top:20px; padding-bottom:10px;">
  				<img src="img/photo.png" width="100" height="100" style="display:block;margin:auto;">
  			</div>
		</div>
		<div class="row" style="background-color:#f44336; margin-bottom:20px;">
			<div class="col text-center">
				<h4 style="color:#fff;"><b>Rakesh Mehra</b></h4>
				<h5 style="color:#fff;">Computer Scientist by Day /Bass Guitarist <br><br>by Night / Blood Donor for life</h5>
				<h5 style="color:#fff;">Ahemdabad, IN</h5>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<img src="img/bloodbag.png" width="75" height="75">
				<h2>36</h2>
				<h4>Pints of Blodd Donated</h4>
			</div>
			<div class="col text-center">
				<img src="img/lifesaver.png" width="75" height="75">
				<h2>14</h2>
				<h4>Life Saving Efforts</h4>
			</div>
			<div class="col text-center">
				<img src="img/connections.png" width="75" height="75">
				<h2>18</h2>
				<h4>Blood Connections</h4>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
