<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Send Request</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="ion-android-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content ng-show="resp">
    <h5 class="text-center">Fill in your contact details so the volunteers can get touch with you quickly.</h5>
    <form ng-submit="getNo()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" data-ng-model="log.mname">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone No</span>
          <input type="text" data-ng-model="log.mno">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="openResp()">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
   <ion-content ng-show="respShow">
    <h4 class="text-center padding">Your request has been sent to volunteers in a 5 KM radius.</h4>
    <h4 class="text-center padding">We'll notify as soon as someone responds, Hang Tight !</h4>
  </ion-content>
</ion-modal-view>
