<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"> Request</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="ion-android-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h5 class="padding text-center">Hey Rakesh, Anil needs A+ blood close by. Get in touch with him if you're available.</h5>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/abhi.jpg">
    <h2>Anil Rathore</h2>
    <p>Gandhinagar, IN</p>
  </div>

  <div class="item item-image">
    <div class="row">
      <div class="col text-left"><i class="icon ion-heart assertive"></i>&nbsp;&nbsp;Blood Coolective Level: <b>Nvoice</b></div>
    </div>
    <div class="row">
      <div class="col text-left"><i class="icon ion-paper-airplane assertive"></i>&nbsp; 10 Mins Away</div>
    </div>
    <div class="row">
      <div class="col"></div>
    </div>
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-checkmark-round"></i>
    Accept 
  </a>

</div>
  </ion-content>
</ion-modal-view>